@import url('https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300&family=Syne+Tactile&display=swap');

.App {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Syne Tactile";
}

.heading {
  text-transform: uppercase;
  font-size: 5rem;
  margin-top: 1.5rem;
  color: white;
  z-index: 1;
  text-align: center;
}

h3 {
  color: white;
  font-size: 2rem;
  margin-bottom: 2rem;
}

@media (max-width: 800px) {
  .heading {
    margin: 15px 0;
    font-size: 3rem;
  }
}